<div class="sidebar-inner">

    {% if user.is_authenticated %}
      <div class="sidebar-user">
          User: {{ user.username }}
      </div>

    {% else %}
      <a href="{% url 'login' %}" class="sidebar-login">
          Login
      </a>
    {% endif %}

    <hr class="sidebar-sep">

    <ul>
      <li><a href="{% url 'museum:index' %}">Home</a></li>
      <li><a href="{% url 'museum:artists' %}">Artists</a></li>
      <li><a href="{% url 'museum:paintings' %}">Paintings</a></li>
      <li><a href="{% url 'museum:genres' %}">Genres</a></li>
    </ul>

</div>