{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="museum-hero">

    <div class="glow one"></div>
    <div class="glow two"></div>
    <div class="glow three"></div>

    <div class="center-box">

        <h1>Museum</h1>

        <p>Art collection</p>

        {% if user.is_authenticated %}

            <a href="{% url 'museum:intercollection' %}" class="btn btn-success btn-soft">
                allgemeine Galerie
            </a>

            <form method="post" action="/accounts/logout/">
              {% csrf_token %}
              <button style="color: gray" type="submit" class="btn btn-outline-light btn-soft">
                  Logout
              </button>
            </form>

        {% else %}

            <!-- LOGIN -->
            <a href="/accounts/login/" class="btn btn-primary btn-soft">
                Login
            </a>

        {% endif %}

    </div>

</div>

{% endblock %}
