{% extends "base.html" %}

{% block content %}

<div class="museum-hero">

    <!-- background glow -->
    <div class="glow one"></div>
    <div class="glow two"></div>
    <div class="glow three"></div>


    <!-- CENTER -->
    <div class="center-box">

        <h1>Museum</h1>

        <p>Art collection</p>

        {% if user.is_authenticated %}

            <a href="{% url 'museum:paintings' %}" class="btn btn-success btn-soft">
                Enter Collection
            </a>

            <form method="post" action="/accounts/logout/">
              {% csrf_token %}
              <button style="color: gray" type="submit" class="btn btn-outline-light btn-soft">
                  Logout
              </button>
            </form>

        {% else %}

            <a href="{% url '/accounts/login/' %}" class="btn btn-primary btn-soft">
                Enter Museum
            </a>

            <a href="#" class="btn btn-outline-light btn-soft">
                Register
            </a>

        {% endif %}

    </div>

</div>

{% endblock %}